<div *ngFor="let user of users">
  <p>{{ user.name.first }} {{ user.name.last }}</p>
  <p>{{ user.email }}</p>
  <img [src]="user.picture.thumbnail" (click)="openModal(user.picture.large)">
</div>

<ng-template #modal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Large Image</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <img [src]="selectedImage">
  </div>
</ng-template>
